@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;0,700;1,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
}

a:link {
    text-decoration: none;
}

/* == MAIN NAVIGATION == */
.navbar-override {
    background-color: rgb(50, 68, 88);
}

.navbar-override ul:first-of-type {
    width: 80%;
    padding-left: 30px;
    font-family: Raleway, sans-serif;
}

.navbar-override ul li {
    margin: 5px;
    font-size: 110%;
    letter-spacing: 5px;
}

.navbar-toggler-override {
    color: white;
}

.navbar-nav .dropdown-toggle::after {
    content: none;
}

.navbar-nav li {
    margin-right: 15px;
}

.navbar-nav .dropdown-item {
    letter-spacing: 1px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-brand {
    margin: 0;
    margin-left: 20px;
    font-family: Raleway, sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 3px;
}

.nav-2 ion-icon {
    font-size: 160%;
    margin-left: 20px;

}


.nav-2 .dropdown-menu {
    padding: 5px;
}

.nav-2 input {
    width: 200px;
    outline: none;
}

.nav-2 > li:last-child .dropdown-menu {
    left: -100%;
}


/* == FOOTER == */
.card-footer {
    background-color: rgb(50, 68, 90);
    padding: 20px;
    color: #ffffff;
}

.card-footer p {
    margin-top: 20px;
    margin-bottom: 0;
}

.card-footer ul {
    list-style: none;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 0;
}

.card-footer li {
    display: inline;
    margin-right: 20px;
}

.icon li{
    margin-right: 0;
}

.icon ion-icon {
    font-size: 40px;
    color: #c9c9c9;
}

#facebook:hover {
    color: #4267B2;
    transition: color 0.2s;
}

#twitter:hover {
    color: #00acee;
    transition: color 0.2s;
}

#pinterest:hover {
    color: #E60023;
    transition: color 0.2s;
}

#youtube:hover {
    color: #FF0000;
    transition: color 0.2s;
}

#instagram:hover {
    color: #515bd4;
    transition: color 0.2s;
}

.card-footer li a {
    margin-right: 20px;
    color: #ffffff;
}

.card-footer li a:hover {
    color: #7ea5fd;
    transition: color 0.2s;
}

.card-footer li span {
    font-size: 80%;
    color: #797979;
}

.copyright {
    color: white;
    font-size: 80%;
}

.footer-desc {
    color: #d1d1d1;
    padding: 0 10%;
    font-size: 90%;
}